.heroSection{
    max-width: 70vw;
    min-height: 50vh;
    margin: 15px auto;
       font-family: Arial, Helvetica, sans-serif;

    user-select: none;
    
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 80vw;
   min-height: 60dvh;

}
.heroContent{
   min-height: 80%;
   width: 55%;
   justify-content: start;
   align-items: start;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: .5rem;
}
.heroContent h1{
   font-size: clamp(1.2rem,5vw,2.6rem);
   font-weight: 900;
   font-family: Arial, Helvetica, sans-serif;
}
span{
    font-size: clamp(1.2rem,5vw,2.6rem);
   font-weight: 900;
   color: rgb(42, 135, 177);
}
.paragraph{
   font-size: clamp(.6rem,3vw,1.2rem);
   color: rgba(185, 187, 183, 0.648);
}
.heroImage{
   height: 60dvh;
   width: 60%;
   display: flex;
   justify-content: end;
       user-select: none;


}
.heroImage img{
   height:100%;
   width: 80%;
   border-radius: 2rem;
   cursor: pointer;
      &:hover{
      transform: scale(1.1);
      transition: 5s;
   }
 


}

@media (max-width:850px){

   .heroSection{
    max-width: 80vw;
    min-height: 50vh;
    margin: 5vh auto;
   font-family: Arial, Helvetica, sans-serif;
    user-select: none;


    
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 80vw;
   min-height: 60dvh;

}
.heroContent{
   min-height: 70%;
   width: 50%;
   justify-content: start;
   align-items: start;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: .5rem;
   
}
.heroContent h1{
   font-size: clamp(1.5rem,5vw,2.6rem);
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
}
span{
    font-size: clamp(1.6rem,5vw,2.6rem);
   font-weight: 900;
   color: rgb(42, 135, 177);
}
.paragraph{
   font-size: clamp(.6rem,3vw,1.2rem);
   color: rgba(185, 187, 183, 0.648);
}
.heroImage{
   height: 50dvh;
   width: 60%;
   display: flex;
   justify-content: end;
        cursor: pointer;
      &:hover{
      transform: scale(1.1);
      transition: 5s;
             user-select: none;

   }
  


}
.heroImage img{
   height:60%;
   width: 100%;
   border-radius: 2rem;
    user-select: none;
   

}
.heroContent button{
   font-size: clamp(.6rem,2vw,1.2rem);
   height: 5dvh;
   width: 25dvw;
   padding: 5px 5px;
   border: 2px solid gray;
   border-radius: 1rem;
   text-align: center;
   box-shadow: inset 1px 1px 4px gray;
   cursor: pointer;
}

}